@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTLakes";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: inherit;
}

body {
  background-color: #f8f8f8;
  font-family: "TTLakes", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  background-color: white;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media (min-width: 1120px) {
  .header {
    display: none;
  }
}

.header__burger {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
  margin-right: 16.73px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header__burger {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 24px 20px 24px 24px;
  }
}

.header__logo {
  margin-top: 18.59px;
  margin-bottom: 18.59px;
  margin-right: 16.73px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header__logo {
    margin-right: auto;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.header__divider {
  margin-top: 28px;
  margin-bottom: 28px;
  margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header__divider {
    margin-right: 20.73px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

.header__divider-2 {
  display: none;
  margin-top: 28px;
  margin-bottom: 28px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header__divider-2 {
    display: inline;
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
    margin: 28px 20px;
  }
}

.header__call-button {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header__call-button {
    display: inline;
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
    margin: 24px 0px 24px 16px;
  }
}

.header__chat-button {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header__chat-button {
    display: inline;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
    margin: 24px 0px 24px 16px;
  }
}

.header__profile-button {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header__profile-button {
    display: inline;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
    margin: 24px 0px 24px 16px;
  }
}

.header__repair-button {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 16px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header__repair-button {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8;
  }
}

.header__checkstatus-button {
  margin-top: 24px;
  margin-bottom: 24px;
  margin-right: 16px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .header__checkstatus-button {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9;
    margin-right: 24px;
  }
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 24px;
}

@media (min-width: 1120px) {
  .title {
    margin-top: 42px;
    margin-bottom: 17px;
  }
}

.title__highlight {
  max-height: 40px;
  max-width: 4px;
}

.title__text {
  width: 288px;
  height: 40px;
  margin-right: 16px;
  margin-left: 12px;
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6 px;
  color: #1b1c21;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .title__text {
    margin-left: 20px;
  }
}

@media (min-width: 1120px) {
  .title__text {
    margin-left: 30px;
  }
}

.title__buttons {
  display: none;
}

@media (min-width: 1120px) {
  .title__buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.title__repair-button {
  margin-right: 32px;
  margin-left: 8px;
}

.title__checkstatus-button {
  margin-right: 32px;
  margin-left: 9px;
}

.title__repair-button-text {
  margin-right: 8px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.title__checkstatus-button-text {
  margin-right: 9px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  margin-left: 16px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .list {
    margin-top: 32px;
    margin-bottom: 32px;
    margin-left: 24px;
  }
}

@media (min-width: 1120px) {
  .list {
    margin-left: 32px;
    margin-top: 8px;
    margin-bottom: 8px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.list__element {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 8px 9.3px 8px 16.54px;
  margin-left: 0px;
  line-height: 24px;
  color: #7e7e82;
  font-size: 1rem;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .list__element {
    padding: 8px 9px 8px 16px;
  }
}

@media (min-width: 1120px) {
  .list__element {
    padding: 8px 21px;
  }
}

.list li:first-child a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid #b8ffec;
  border-radius: 6px;
}

@media (min-width: 1120px) {
  .list li:first-child a {
    margin-bottom: 8px;
  }
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .content {
    width: 50%;
  }
}

@media (min-width: 1120px) {
  .content {
    width: 50%;
  }
}

.content__body {
  margin: 0px 16px 16px 16px;
  color: #1b1c21;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .content__body {
    margin: 0px 48px 10px 24px;
    line-height: 20px;
  }
}

@media (min-width: 1120px) {
  .content__body {
    margin: 8px 36px 13.78px 34px;
    line-height: 20px;
  }
}

.content .read-more {
  line-height: 24px;
  font-size: 16px;
  letter-spacing: -0.2px;
  font-size: 1rem;
}

.content .read-more__icon {
  margin-left: 24px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .content .read-more__icon {
    margin-left: 33px;
  }
}

@media (min-width: 1120px) {
  .content .read-more__icon {
    margin-left: 40px;
  }
}

.content .read-more__button {
  margin-left: 16px;
  line-height: 24px;
  font-size: 16px;
  height: 24px;
  font-weight: 500;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #1b1c21;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .content .read-more__button {
    margin-bottom: 54px;
  }
}

@media (min-width: 1120px) {
  .content .read-more__button {
    margin-left: 40px;
  }
}

.content .body__text1 {
  display: none;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .content .body__text1 {
    display: inline;
  }
}

.content .body__text2 {
  display: none;
}

@media (min-width: 1120px) {
  .content .body__text2 {
    display: inline;
  }
}

.image-container {
  background-color: #f8f8f8;
  margin-top: 16px;
}

@media (min-width: 768px) and (max-width: 1119.98px) {
  .image-container {
    margin-top: 0px;
    margin-right: 25px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

@media (min-width: 1120px) {
  .image-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    margin-right: 28.6px;
    margin-top: 0px;
  }
}

.image-container img {
  display: block;
  width: 100%;
}

@media (min-width: 768px) {
  .image-container img {
    border-radius: 2%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 768px) {
  .main-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

br {
  display: none;
}

@media (min-width: 768px) {
  br {
    display: block;
  }
}
