*{
	padding: 0;
	margin: 0;

}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
ul li{list-style: none;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}

button{
	background-color:transparent;
	border: none;
 }

$main-background-color:#F8F8F8;
$header-background-color:white;
$main-text-color:#1B1C21;

body{
	background-color: $main-background-color;
	font-family: 'Roboto', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-content: center;
	max-width: 767px;

	@media (min-width:768px) and (max-width:1119.98px){
		max-width: 1119.98px;
	}
	@media (min-width:1120px){
		max-width: none;
	}
}

.header {
	display: flex;
	flex: 1 1 auto;
	justify-content: space-between;
	align-content: flex-end;
	background-color: $header-background-color;
	@media (min-width:768px) and (max-width:1119.98px){
		justify-content: flex-end;
	}
	
	@media (min-width:1120px){
		display: none;
	}
	
		&__burger {
			margin-top: 24px;
			margin-bottom: 24px;
			margin-left: 16px;
			margin-right: 16.73px;
			@media (min-width:768px) and (max-width:1119.98px){
				align-self: flex-start;
				order: 1;
				margin: 24px 20px 24px 24px;
			}
		}

		&__logo {
			margin-top: 18.59px;
			margin-bottom: 18.59px;
			margin-right:16.73px;
			@media (min-width:768px) and (max-width:1119.98px){
				margin-right: auto;
				order: 3;
			}
		}

		&__divider {
			margin-top: 28px;
			margin-bottom: 28px;
			margin-right: 20px;
			@media (min-width:768px) and (max-width:1119.98px){
				margin-right: 20.73px;
				align-self: flex-start;
				order: 2;
			}
		}
		
		&__divider-2{
			display: none;
			margin-top: 28px;
			margin-bottom: 28px;
			@media (min-width:768px) and (max-width:1119.98px){
				display: inline;
				order: 7;
				margin:28px 20px;
			}
		}

		&__call-button {
			display: none;
			@media (min-width:768px) and (max-width:1119.98px){
				display: inline;
				order: 4;
				margin:24px 0px 24px 16px;
			}
			}
	
		&__chat-button {
			display: none;
			@media (min-width:768px) and (max-width:1119.98px){
				display: inline;
				order: 5;
				margin:24px 0px 24px 16px;
			}
			}
	
		&__profile-button {
			display: none;
			@media (min-width:768px) and (max-width:1119.98px){
				display: inline;
				order: 6;
				margin:24px 0px 24px 16px;
			}
			}

		&__repair-button {
			margin-top: 24px;
			margin-bottom: 24px;
			margin-right: 16px;
			@media (min-width:768px) and (max-width:1119.98px){	
				order: 8;
			}
		}

		&__checkstatus-button {
			margin-top: 24px;
			margin-bottom: 24px;
			margin-right: 16px;
			@media (min-width:768px) and (max-width:1119.98px){	
				order: 9;
				margin-right: 24px;
			}
		}
}
.burger {

		&__button {
		}
}
.title {
	display: flex;
	margin-top: 24px;
	margin-bottom: 24px;
	@media (min-width:768px) and (max-width:1119.98px){
		margin-bottom: 40px;
	}
	@media (min-width:1120px){
		margin-top: 42px;
		margin-bottom: 17px;
	}

		&__highlight {
			max-height: 40px;
			max-width: 4px;
		}

		&__text {
			width: 288px;
			height: 40px;
			margin-right: 16px;
			margin-left:12px;
			font-size: 28px;
			line-height: 40px;
			letter-spacing: -0.6 px;
			color:$main-text-color;
			@media (min-width:768px) and (max-width:1119.98px){
				margin-left: 20px;
			}
			@media (min-width:1120px){
				margin-left: 30px;
			}

		}



		&__buttons {
			display: none;
			@media (min-width:1120px){
				display: inline;
				margin-left: auto;
				align-items:center ;
			}
			
		}
	
		&__repair-button {
		margin-right: 32px;
		margin-left: 8px;
		}
	
		&__checkstatus-button {
		margin-right: 32px;
		margin-left: 9px;
		}
	}
	
.navigation {	
		&__list {
		}
}
.list {
	display: flex;
	overflow: auto;
		&__element {
			display: flex;
			width: 246px;
			height: 40px;
			color:#7E7E82;
			font-size: 1rem;
			line-height: 24px;	
			@media (min-width:768px) and (max-width:1119.98px){
				width: max-content;
				height: 24px;
				color:#7E7E82;
				font-size: 1rem;
				line-height: 24px;	
			}

			@media (min-width:1120px){
				width: max-content;
			}

		}
			
		&__element:active{
			padding:8px 9.3px 8px 16.54px;
			border: 2px solid #B8FFEC;
			border-radius: 6px;
			@media (min-width:768px) and (max-width:1119.98px){
				padding:8px 9px 8px 16px;	
		}
			@media (min-width:1120px){
				padding: 8px 22px;
			}		
		}

		&__element:first-child{
			margin-left:16px;

			@media (min-width:768px) and (max-width:1119.98px){
				margin-left: 24px;
		}
			@media (min-width:1120px){
				margin-left: 32px;
			}
		}

		&__element:nth-child(2n){
			@media (min-width:768px) and (max-width:1119.98px){
				margin: 0px 25px;
			}
			@media (min-width:1120px){
				margin: 0px 25px;
			}
		}

		@media (min-width:1120px){
			flex-wrap: wrap;
		}
	}
	
.content {
display: flex;
flex-direction: column;
@media (min-width:768px) and (max-width:1119.98px){
	width: 50%;	
}
@media (min-width:1120px){
	width: 50%;
}

	&__body {
		margin:20px 16px;
		color:$main-text-color;
		@media (min-width:768px) and (max-width:1119.98px){
			margin: 32px 48px 10px 24px;
		}
		@media (min-width:1120px){
			margin: 19.22px 36px 13.78px 34px;
		}
	}


.read-more {
	line-height: 24px;
	font-size: 16px;
	letter-spacing: -0.2px;
	font-size: 1rem;
	
		&__icon {
			margin-left:24px;
			@media (min-width:768px) and (max-width:1119.98px){
				margin-left: 33px;
			}
			@media (min-width:1120px){
				margin-left: 40px;
			}
		}

		&__button {
			margin-left: 16px;
			width: 100px;
			height: 24px;
			color:$main-text-color;
			@media (min-width:768px) and (max-width:1119.98px){
				margin-bottom: 54px;
			}
			@media (min-width:1120px){
				margin-left: 40px;
			}
			//?font-weight: bold;		
	
		}
	}

	.body__text1{
		display: none;
		@media (min-width:768px) and (max-width:1119.98px){
		display: inline;
			}
		@media (min-width:1120px){
		
			}
		}

	.body__text2{
		display: none;
		@media (min-width:768px) and (max-width:1119.98px){
		
			}
		@media (min-width:1120px){
		display: inline;
			}
			}

	}
/*.image-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 7.62px;
	@media (min-width:768px) and (max-width:1119.98px){
		justify-content: flex-start;
		flex: 1 1 auto;
		padding: 26px 0px 25.66px 0px;
		margin-right: 25px;
		&__element {
		
			align-self: flex-start;
			border-radius: 5px;
			
	}
		}
		@media (min-width:1120px){
			justify-content: flex-start;
			flex: 1 1 auto;
			padding: 26px 0px 25.66px 0px;
			margin-right: 28.65px;
			margin-bottom: 11.13;
			
			&__element {
				align-self: flex-start;
				border-radius: 5px;
		}
	}
}
*/

.image-container{
	background-image: url(img/_MG_3223.png);
	background-color: $main-background-color;
}

	@media (min-width:768px) and (max-width:1119.98px){
		.main-container {
			display: flex;
		}
	}

	@media (min-width:1120px){
		.main-container {
			display: flex;
		}
	}
	

	
